.comments {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}

.comments h4 {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.comments h3 {
    text-align: center;
    margin-bottom: 20px;
}

.comments .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comments label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.comments button {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #205aa7;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: move 3s infinite linear;
    animation: move 3s infinite linear;
    -webkit-animation-delay: 1600ms;
    animation-delay: 1600ms;
}

.comments input,
.comments textarea {
    width: 100%;
    height: 30px;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 14px;
}

.comments textarea {
    height: 80px;
    padding: 5px 10px;
}

.comments ul li {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comments ul li b {
    text-transform: capitalize;
}

.comments ul li div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.comments ul li p {
    margin: 0;
}

.comments ul li div button {
    font-size: 14px;
    border-radius: 4px;
    background: red;
    color: #ffffff;
    border: none;
    padding: 2px 5px;
}