.items {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.this-item {
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 10px;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}

.this-item:last-child {
    margin-bottom: 0;
}

.this-item .info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.this-item .info .left {
    flex-grow: 1;
}

.this-item b {
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.this-item span.date {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #cccccc;
}
.this-item img {
    display: block;
    width: 80px;
    height: auto;
    margin-right: 30px;
}

.this-item b:hover {
    color: red;
}

.this-item button {
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 10px;
    margin-left: 20px;
}

.this-item button.delete {
    background: red;
}

.this-item button.edit {
    background: indigo;
}