.add-edit-item {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add-edit-item h2 {
    margin-bottom: 30px;
}

.add-edit-item button {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #205aa7;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: move 3s infinite linear;
    animation: move 3s infinite linear;
    -webkit-animation-delay: 1600ms;
    animation-delay: 1600ms;
}

@-webkit-keyframes move {
    0% {
        background-position: 200% 0, 0 0; }
    100% {
        background-position: -200% 0, 0 0; } }

@keyframes move {
    0% {
        background-position: 200% 0, 0 0; }
    100% {
        background-position: -200% 0, 0 0; } }

.error {
    font-size: 14px;
    line-height: 1.2;
    color: red;
    padding-top: 20px;
    display: block;
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.add-edit-item input,
.add-edit-item textarea {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0 10px;
    width: 50%;
}

.add-edit-item textarea {
    height: 80px;
    padding: 10px;
}

.add-edit-item label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.addImage {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    background: red;
    width: 170px;
    text-align: center;
}

.addImage:hover {
    background: #000;
}

.previewImg {
    display: block;
    max-width: 200px;
    height: auto;
}