header {
    width: 1000px;
    margin: 20px auto 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 4px;
}

header a.active {
    background: red;
    color: #ffffff;
}

header a:not(.active):hover {
    transform: scale(1.1);
}