body {
    margin: 0;
    padding: 0 0 20px;
    font-family: sans-serif;
    width: 100%;
    min-width: 1000px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

button, label {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

textarea {
    resize: none;
}
