.news {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.news div {
    display: block;
    margin-bottom: 20px;
}

.news h2 {
    margin-bottom: 20px;
}

.news h2 span {
    color: blueviolet;
}

.news div.date span {
    font-size: 14px;
    color: #cccccc;
    font-weight: bold;
}

.news p {
    margin-bottom: 30px;
    font-style: italic;
    font-size: 14px;
    line-height: 1.3;
}

.news img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}